/* seletor
    propriedade:valor;
}        
*/

body{

    background-color:  #F2C2C2;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

div{


    width: 340px;  /*largura (400-60 de cada lado = padding)*/
    height: auto; /*altura*/
    background-color: #F2DFE2;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    padding: 30px; /*espaçamento interno*/

    border-radius: 10px;
    text-align: center;

}

img{
    width: 100px;
    border-radius: 50%; /* A imagem tem que ser quadrada */
    
    /* border-width: 5px;  border = é uma abreviação
    border-style: solid;
    border-color: #F2C2C2;
    */

    border: solid 5px #F24444;

}


h1{
    color:#162C41;
    font-size: 32px;
    margin-bottom: 0;
}

h2{
    margin-top: 0px;
    font-size: 20px;
    color: #F24444;
}

p{
    color: #666666;
}

ul{ /*UL = LISTA UL A = LINK DA LISTA*/ 
    margin: 0 0 30px 0; /*top right bottom left*/
    padding: 0;
    list-style-type: none; /*retira o marcador da lista */
}

/*Formatando todos os links que estão dentro da lista*/

ul a{
    background-color: #F24444;
    color: #FFFFFF;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    text-decoration: none; /* retira o sublinhado padrão dos links */
    border-radius: 3px;
}

ul a:hover{ /*Interação com link = mudança de cor */
    background-color: black;
}

/*

#id

*/

#link-rodape{
    color: #F24444;
}

#link-rodape:hover{
    color: #666666;
}